.util-center-text {
  text-align: center;
}

.util-margin-top-large {
  margin-top: $margin-large;
}

.util-margin-top-medium {
  margin-top: $margin-medium;
}

.util-margin-top-small {
  margin-top: $margin-small;
}

.util-margin-bottom-large {
  margin-bottom: $margin-large;
}

.util-margin-bottom-medium {
  margin-bottom: $margin-medium;
}

.util-margin-bottom-small {
  margin-bottom: $margin-small;
}